@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{

   .overflow-x-scroll::-webkit-scrollbar{
        display:none;
    }
}


body{
    background-color: #16181b;
    /* position: relative; */
}
body::-webkit-scrollbar{
    /* background-color:black; */
    width:5px;
    border:1px solid black;
}
/* body::-webkit-scrollbar-button{
    background-color: whitesmoke;
    border-radius: 10px;
    width:5px;
} */
body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;

}